.content {
   position: absolute;
   width: 1400px;
   height: 740px;
   background-color: white;
   margin-top: 30px;
   margin-left: 250px;
   border-radius: 10px;
}

.maintext {
   font-size: 40px;
   margin: 20px;
   padding-bottom: 10px;
   border-bottom: 1px solid grey;
}

.contenttext {
   display: block;
   font-size: 50px;
   font-weight: bold;
   padding-top: 50px;
   padding-left: 700px;
}

.weatherforecastwrap {
   padding-top: 30px;
}

.weatherforecastbackground {
   background-color: #d9d9d9;
   border-radius: 10px;
   width: 90%;
   margin: 20px auto;
}

.weatherrecommendwrap {
   text-align: center;
}

.weatherimage {
   float: left;
   margin-left: 50px;
}

.recommendationmessage {
   font-size: 50px;
   padding-top: 200px;
   font-weight: bold;
   white-space: pre-wrap;
}

.newslist {
   display: block;
   font-size: 50px;
   margin: 30px 30px;
   padding: 10px;
   background-color: #ffde9f;
   border-radius: 10px;
}

.not {
   font-size: 80px;
   font-weight: bold;
   text-align: center;
   margin-top: 300px;
}
